body {
    background-color: rgb(66, 71, 105);
    color: white;
}
.sidebar-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.main-image{
    width: 400px;
    height: 220px;
}
.card-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-top: 20px;
}
.desktop-sidebar {
    flex: 0 0 17%;
    margin-left: -10px;
    background-color: rgb(45, 50, 80);
}
.section-image{
    width: 400px;
    height: 200px;
}
.bg-orange {
    background-color: rgb(246, 177, 122);
}
.headerColor{
    color: rgb(246, 177, 122);
}
.lineColor{
    color: rgb(112, 119, 161);
}
.card {
    background-color: rgb(45, 50, 80);
    color: rgb(246, 177, 122);
    border-color: rgb(112, 119, 161);
}
.tablet-sidebar {
    display: none;
}
.mobile-sidebar {
    display: none;
}
@media (max-width: 1000px) {
    .tablet-sidebar {
        display: block;
    }
    .desktop-sidebar {
        display: none;
    }
    .mobile-sidebar {
        display: none;
    }
}
@media (max-width: 767px) {
    .desktop-sidebar {
        display: none;
    }
    .tablet-sidebar {
        display: none;
    }
    .mobile-sidebar {
        display: block;
    }
}